<div class="tile is-child">
    <a class="button is-large" data-target="#modal" (click)="openModal()">
        <span class="icon is-medium">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </span>
    </a>
</div>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="field is-grouped">
            <p class="control has-icons-right is-expanded">
                <input class="input" type="text" (keyup)="searchCity($event)" placeholder="e.g. Paris, New-York, London">
                <span class="icon is-small is-right">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </p>
            <p class="control">
               <a class="button is-info">Ajouter</a>
            </p>
        </div>
        <ul>
          <li class="suggestion" (click)="addCity(city)" *ngFor="let city of cities">
              <img class="img-suggestion image is-16x16" src="{{city.fullCountry.flag}}" /> 
              <span class="separator"></span> 
              <span>{{city.city}}, {{city.fullCountry.name}}</span>
            </li>
        </ul>
    </div>
    <button class="modal-close" (click)="closeModal()"></button>
</div>
